html, body {
  height: 100%;
}

html {
  font: 600 100%/1 "Lato", sans-serif;
}

body {
  background-color: #d1d8e0;
  display: grid;
  place-items: center;
}

.button {
  background: none;
  background: radial-gradient(ellipse at top, #FF1A41, #B3001F);
  border: none;
  border-radius: 3em;
  color: #fbb;
  cursor: pointer;
  box-shadow: 0 1em 2.5em 0.35em rgba(17, 17, 17, 0.25), 0 0.25em 0.5em rgba(179, 0, 31, 0.65), 0 0.1em 0.35em rgba(255, 26, 65, 0.85), inset -0.025em 0.3em 0.4em rgba(255, 255, 255, 0.68), inset 0 0.05em 0.05em rgba(255, 255, 255, 0.95);
  font: inherit;
  font-size: 1.25rem;
  padding: 1em 3em;
  position: relative;
}
.button__text {
  white-space: nowrap;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  letter-spacing: 0.06em;
}
